/*
  6s px 375 × 667
  s6 px 360 x 640

  bg(blue) = #022949
  grey = #F0F0F0
  orange = #FFAD3A
  light blue = #50B9CE
  font = Arkip
*/
@font-face {
    font-family: Arkhip;
    src: url(Arkhip_font.otf);
    font-weight: normal;
    font-style: normal;
}

@Media only screen and (max-width: 375px) {
    body {
        font-family: Arkhip, sans-serif;
    }

    .verhaal img {
        height: 100px !important;
        object-fit: cover;
        width: 100%;
    }
}
